<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<title>Haneul.GitHub.com by johaneul</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">	
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-86647434-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
</head>

<body ng-app="todoApp">
	<section class="page-header-git">
		<h1 class="project-name">Haneul.GitHub.com</h1>
		<h2 class="project-tagline"></h2>
		<!--   <a href="https://github.com/johaneul/haneul.github.com" class="btn">View on GitHub</a>
      <a href="https://github.com/johaneul/haneul.github.com/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/johaneul/haneul.github.com/tarball/master" class="btn">Download .tar.gz</a>
  --></section>

	<section class="container">
		<h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
	<span aria-hidden="true" class="octicon octicon-link"></span></a>TODO</h3>

		<div ng-controller="todoCtrl" class="container">	

		<form ng-submit="addTodo(todoTitle)">
			<div class="input-group" style="margin-bottom: 5%;">
				<input type="text" class="form-control" ng-model="todoTitle" placeholder="Type todo" autofocus>
				<span class="input-group-btn">
					<button class="btn btn-info" type="submit">Add</button>
				  </span>
			</div>
		</form>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="todo in todos | filter: {}">
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" class="" ng-model="todo.completed" ng-click="completeTodo()">
					</span>
					<input type="text" class="form-control" ng-model="todo.title">
					<span class="input-group-btn">
						<button  class="btn btn btn-warning"  type="button" ng-click="removeTodo(todo.id)">Remove</button>
				  	</span>
				</div>
			</li>
		</ul>
		<!--<div class="btn-group" role="group"> 
			<button type="button" class="btn btn-primary" ng-click="status='completed'">Completed</button>
			<button type="button" class="btn btn-primary" ng-click="status='active'">Active</button>
			<button type="button" class="btn btn-primary" ng-click="status=''">All</button>
		</div>
		
		<pre>{{todos | json}}</pre>-->
	</div>

	

		<footer class="site-footer">
			<span class="site-footer-owner"><a href="https://github.com/johaneul/haneul.github.com">Haneul.GitHub.com</a> is maintained by <a href="https://github.com/johaneul">johaneul</a>.</span>

			<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
		</footer>

	</section>
<script src="node_modules/angular/angular.js"></script>
<script src="js/todoApp.js"></script>
<script src="js/ctrl/todoMvcCtrl.js"></script>

</body>

</html>